<div class="container-fluid p-3">
    <!--title-->
    <div class="row">
        <span>{{'welcomeAdmin' | translate}}</span>
    </div>
    <div class="row mt-4">
        <span> {{'form.title' | translate}} </span>
    </div>
    <!---->
    <!--form wrapper-->
    <div class="mt-4 w-100 p-5">
        <form [formGroup]="mainForm">
            <!--form content-->
            <div class="h-100 d-flex flex-column gap-5">
                <!--name control-->
                <div *ngLet="name?.invalid && (name?.dirty || name?.touched) as invalidName">
                    <h3> {{'form.nameControl.label' | translate | uppercase}} </h3>
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="{'invalid': invalidName}"
                        formControlName="name"
                        [placeholder]=" 'form.nameControl.placeholder' | translate "
                    >
                </div>
                <!---->
                <!--lessons section-->
                <div>
                    <h3> {{'form.lessons.title' | translate | uppercase}} </h3>
                    <!--lessons form-->
                    <app-lesson-form [parentForm]="mainForm"></app-lesson-form>
                    <!---->
                </div>
                <!---->
                <!--attachments section-->
                <div>
                    <h3> {{'form.attachments.title' | translate | uppercase}} </h3>
                    <!--attachments form-->
                    <app-attachment-form [parentForm]="mainForm"></app-attachment-form>
                    <!---->
                </div>
                <!---->
                <!--receivers section-->
                <div>
                    <h3> {{'form.receivers.title' | translate | uppercase}} </h3>
                    <br>
                    <!--receivers form-->
                    <app-receivers-form [parentForm]="mainForm"></app-receivers-form>
                    <!---->
                </div>
                <!---->

            </div>
            <!---->
            <!--action buttons-->
            <div class="mt-3 d-flex align-items-center justify-content-center gap-3">
                <button
                    class="btn btn-light"
                    (click)="resetForm()"
                > {{'form.actions.reset' | translate | uppercase}} </button>
                <button
                    class="btn btn-primary"
                    (click)="submitForm()"
                > {{'form.actions.save' | translate | uppercase}} </button>
            </div>
            <!---->
        </form>
    </div>
    <!---->
</div>