<div [formGroup]="parentForm">
    <div class="d-flex justify-content-between">
        <span class="fw-bold text-primary-emphasis"> {{'form.receivers.subtitle' | translate}} </span>
        <span class="fw-bold text-primary-emphasis"> {{'form.receivers.setDeadline' | translate | uppercase}}
        </span>
    </div>
    <div
        class="mt-2"
        formArrayName="receivers"
        *ngFor="let receiver of receivers.controls; index as i"
    >
        <!--receiver row-->
        <div
            class="receiver-card p-2 d-flex align-items-center justify-content-between"
            [formGroupName]="i"
        >
            <!--checkbox-->
            <div class="mt-2 form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    formControlName="checked"
                >
                <span class="form-check-label text-primary">
                    {{ receiver.get('name')?.value | uppercase}}
                </span>
            </div>
            <!---->
            <!--date picker-->
            <div class="d-flex align-items-center">
                <input
                    matInput
                    class="form-control"
                    [matDatepicker]="picker"
                    placeholder="gg/mm/aaaa"
                    formControlName="deadline"
                >
                <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <!---->
        </div>
        <!---->
    </div>
</div>