/* You can add global styles to this file, and also import other style files */

html,
body {
    min-height: 100%;
    background: rgb(238, 174, 202);
    background: linear-gradient(188deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

@import "styles/forms";
@import "styles/utils";
